.testedit{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    color: #CCCCD1;
    font-size: 14px;
    position: relative;
}
.nav-tabs button{
    position: absolute;
    right: 0;
    top: 0;
}
.testedit svg{
    width:20px;
    height: 20px;
    
}
form>div{
display: flex;
margin-top: 22px;
align-items: center;
}
form>div>label{
    width:70px;
    text-align: right;
    margin-right: 24px;
}
.font-family select{
 margin-right: 30px;
 background-color: #1B1B1D;
 appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
    border: none;
    height: 24px;
    background-image: url('../../../assets/img/20180903162343300.png');
    background-position: center right;
    background-repeat: no-repeat;
    color:#fff;
}
.font-family select:nth-child(2){

    width:100px ;
}
.font-family select:nth-child(3){
    width:64px;
    margin: 0;
}
.font-color span{
    display: inline-block;
    border:1px solid #979797;
    margin-right:15px;
    width:18px;
    height: 18px;
    
}
.font-color .active,.font-direction .active,.font-style .active{
    border-color: blue;
    
}
#updata_info .item>span:hover span{
    display: inline-block;
}
#updata_info .MuiSvgIcon-root:hover{
    cursor: pointer;
}
/* .font-color span:nth-child(2){
    background-color: #FFFFFF;
}
.font-color span:nth-child(3){
    background-color: #1B1B1D;
}
.font-color span:nth-child(4){
    background-color: #00574A;
}
.font-color span:nth-child(5){
    background-color:  #002467 ;
}
.font-color span:nth-child(6){
    background-color:   #5E4700  ;
}
.font-color span:nth-child(7){
    background-color:   #A40000  ;
} */
.font-direction>span{
    display: flex;
    margin-right: 18px;
    border:1px solid transparent;
   
}
.font-style svg{
    margin-right:6px;
    border: 1px solid transparent;
}
.slider-value{
    display: inline-block;
    width:32px;
    height: 28px;
  
    background-color: #1B1B1D;
text-align: center;
line-height: 28px;
border-radius:4px;
margin-left: 16px;
}