.grid-cards-container
  .grid-item
    border: 1px solid rgba(242,242,245,1)
    border-radius: 12px
    overflow: hidden
    background-color: #fff
    position: relative


  .series-tag
    position: absolute
    background-color: #007cff
    padding: 2px 4px
    border-radius: 0 0 4px 4px
    top: 0
    left: 18px


  .video-time-tag
    background-color: rgba(32,32,32,0.48)
    position: absolute
    border-radius: 4px
    top: calc(166px * 0.83)
    @media screen and (max-width: 960px)
      top: calc(100px * 0.78)
    right: 2%
    padding: 0 4px


  .grid-card-image-head
    height: 166px
    @media screen and (max-width: 960px)
      height: 100px
    overflow: hidden
    background-color: #ddd
    display: flex
    justify-content: center
    align-items: center
    & > img
      width: auto
      height: 100%
    /*   &:hover
    /*     width: 120%
    /*     transition: width 1s linear

  .grid-card-feedback
    @media screen and (max-width: 960px)
      display: none
