.document-component
  .menuBox
    display: grid
    grid-template-columns: 68px auto
    grid-template-row: 50px auto
    gap: 20px 0
    margin-bottom: 20px

  .title-box
    grid-column: 1
    grid-row: 1
    display: flex

  .title
    .divider
      margin-top: 10px
      border-bottom: 2px solid #007CFF

  .content
    grid-column: 2
    display: flex
    grid-row: 2
    & > p:not(:last-child)
      margin-bottom: 20px

  .expansionpanel
    background-color: inherit
    box-shadow: none
    &:not(:last-child)
      border-bottom: 0
    &:before
      display: none
    &.Mui-expanded
      margin: auto

  .expansionpanelsummary
    margin-bottom: -1px !important
    min-height: 40px !important
    justify-content: flex-start !important
    padding: 0
    &.Mui-expanded
      min-height: 40px !important
    & .MuiExpansionPanelSummary-content
      order: 2
      &.Mui-expanded
        margin: 12px 0
    & .MuiExpansionPanelSummary-expandIcon
      order: 1
      &.MuiIconButton-edgeEnd
        margin-right: -24px
        padding: 0

  .expansionpaneldetails
    padding: 0
    display: block


  .view-button
    background-color: #fc5659
    border-radius: 20px
    padding: 2px 14px

  .pay-button
    background-color: #fc5659
    border-radius: 20px
    color: #fff
    padding: 2px 14px


  .file-container
    background-color: #d8d8d8
    padding: 8px
    & > img
      width: 466px


  .unlock-button
    position: absolute
    bottom: 6px
    left: calc(70px + 180px)
