.MuiSlider-thumb::after{
    width: 1px;
    left: 5px !important;
    right:0 !important;
    bottom:0 !important;
   top: 5px !important;
   position: absolute;
   height: 300px;
   content: '';
   background-color: red;

}

