
    .dialog .MuiDialog-paperWidthSm{
      max-width:850px;
      margin:0;
      overflow:hidden;
    
    }
    .dialog .MuiPaper-root{
      padding:20px;
      box-shadow:2px 2px 20px 0px rgba(0,0,0,0.1);
      border-radius:12px;
    }
    
  