.fn16{
    font-size:1.6em;
}

.fn14{
    font-size: 1.4em;
}
.fn12{
    font-size: 1.2em;
}
p{
    margin: 0;
}
.btn{
   padding: 0.5em 2em ;
   font-size: 1.6em;
   color: white;
   background-color: #007CFF;
   border-radius:2.1em;
}
.btn:hover{
    cursor: pointer;
}
.itemnav{
    margin-bottom: 1.2em;
    overflow-x: auto;
}
.itemnav img{
    width:2.4em;
    height:2.4em;

}
.itemnav {
    /* width: calc(100% / 7); */
    padding-bottom: 1.2em;
    /* margin-right: 1.2em; */
}
.itemnav>div:not(:first-child){
    margin-left: 0.7em;
}
.itemnav>div:not(:last-child){
    margin-right: 0.7em;
}
.nav >div{
    padding:1.2em 0;
    position: relative;
}
.nav > div:not(:first-child){
    margin-left:1.2em; 
}
.nav > div:not(:last-child){
    margin-right:1.2em; 
}

.item {
    border:1px solid #F2F2F5;
    border-radius: 1.2em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}