.fn16 {
  font-size: 1.6em;
}

.fn14 {
  font-size: 1.4em;
}
.fn12 {
  font-size: 1.2em;
}
p {
  margin: 0;
}
.btn {
  padding: 0.5em 1.25em;
  font-size: 1.33em;
  color: white;
  background-color: #007cff;
  border-radius: 2.1em;
  margin-left: 1.75em;
  display: inline-block;
}
.btn-pos-ritht {
  position: absolute;
  right: 0;
  top: 1em;
  z-index: 5;
}

.btn:hover {
  cursor: pointer;
}
.itemnav {
  margin-bottom: 1.2em;
  overflow-x: auto;
}
.itemnav img {
  width: 2.4em;
  height: 2.4em;
}
.itemnav {
  /* width: calc(100% / 7); */
  padding-bottom: 1.2em;
  /* margin-right: 1.2em; */
}
.itemnav > div:not(:first-child) {
  margin-left: 0.7em;
}
.itemnav > div:not(:last-child) {
  margin-right: 0.7em;
}
.nav > div {
  padding: 1.2em 0;
  position: relative;
}
.nav > div:not(:first-child) {
  margin-left: 1em;
}
.nav > div:not(:last-child) {
  margin-right: 1em;
}
.item {
  border: 1px solid #f2f2f5;
  border-radius: 1.2em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.search {
  background: rgba(44, 44, 59, 1);
  overflow-x: auto;
  /* position: absolute; */
 white-space: nowrap;
 list-style: none;
 margin: 0;
 padding:0;
}
.search > li {
  display: inline-block;
  width: 33%;
  padding: 1.67em;
  margin: 1.67em 0;
  background: rgba(0, 0, 0, 0.4);
  color: #9e9ea6;
  white-space: normal;
  position: relative;
}
.search > li:not(:first-child){
  margin-left: 1.67em;
}
.search > li:not(:last-child){
  margin-right: 1.67em;
}
.search .color{
  color:#FC5659;
}
