.top-aside,ul{
    list-style: none;
        padding: 0;
        margin: 0;
}

li{
    width:60px;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}
.top-aside li:hover{
    cursor: pointer;
}
.active{
    background-color: rgba(94, 93, 93,1);
}