.navtar {
  /* height: calc(7.75rem - 2px); */
  background-color: #4e07ba;
    width:calc(100% - 3px);
   /* height:7.75rem; */
    position: relative;
    padding:2.5rem 0;
    font-size:1rem;
    color:white
}
.navtar .acti{
  color:#fcf800;
  font-size:1.15em;
  position: relative;

}
.acti::before{
  display:'inline-block'
}
/* .navtar::before{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    border-right: 3px solid #fcf800;
    border-top-right-radius: 1px;
    right: -3px;
    bottom:-5px;
} */
/* .navtar::after {
  content: "";
  position: absolute;
  width:100%;
  height: 100%;
  border-bottom: 2px solid #fcf800;
  border-bottom-left-radius: 1px; 
  right: 0;
  bottom: 0;
  
} */
