.navtar {
 
  background-color: #4e07ba;
    width:calc(100% - 0.05em);
    height:1.2em;
    position: relative;
    
    color:white
}
.navtar .box,.navtar .box-flex{
  padding: 0;
  margin: 0;
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
}
.navtar .box-flex div {
  font-size: 0.3em;
  color:white; 
}

.navtar  span:hover{
  cursor: pointer;
}
.navtar .acti{
  color:#fcf800;
  font-size:1.33em;
  position: relative;
}
.acti::before,.acti::after{
  display:'inline-block';
  content:'';
  width:0.3em;
  height: 0.3em;
  border:1px solid #fcf800;
  position: absolute;
  
  top:50%;
  transform:translateY(-50%);
  border-radius: 50%;
}
.acti::before{
  left: -1em;
}
.acti::after{
  right: -1em;
}
/* .navtar::before{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    border-right: 3px solid #fcf800;
    border-top-right-radius: 1px;
    right: -3px;
    bottom:-5px;
} */
/* .navtar::after {
  content: "";
  position: absolute;
  width:100%;
  height: 100%;
  border-bottom: 2px solid #fcf800;
  border-bottom-left-radius: 1px; 
  right: 0;
  bottom: 0;
  
} */
