.navtar {
  background-color: #4e07ba;

  height: 1.2em;
  min-height: 42px;
  position: relative;

  color: white;
}
.navtar .box,
.navtar .box-flex {
  padding: 0;
  margin: 0;
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
}
.navtar .box-flex div {
  font-size: 0.3em;
  color: white;
}

.navtar span:hover {
  cursor: pointer;
}

.navtar .acti {
  color: #fcf800;
  font-size: 1.33em;
  position: relative;
}

.navtar .acti::before,
.navtar .acti::after {
  display: block;
  width: 0.4em;
  height: 0.4em;
  border: 1px solid #fcf800;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.navtar .acti::before {
  left: -1em;
}
.navtar .acti::after {
  right: -1em;
}
