.profile-main {
  margin: 40px 0;
}
.profile-left {
  width: 210px;
  margin-right: 40px;
}
.profile-left::-webkit-scrollbar,.view-scroll::-webkit-scrollbar{
  width:8px;
  background-color: #EDF6FF;
}
.profile-left::-webkit-scrollbar-thumb,.view-scroll::-webkit-scrollbar-thumb{
  border-radius:6px;
  background:#bdbdbd;
}
.profile-main .ul {
  list-style: none;
  margin: 0;
}
.profile-main .ul li{
  margin: 16px 0;
}
.profile-main .ul li svg{
  margin-right:10px ;
}
.profile-main .ul li:hover {
  cursor: pointer;
}
.profile-margin {
  margin: 40px 0;
}
.profile-padding {
  padding: 40px;
}
.profile-margin .box-flex,
.box-fle.zero-edges {
  margin: 0 10px;
  border-radius: 12px;
  padding: 10px;
}
.profile-margin .box-flex:last-child {
  margin-right: 0;
}
.profile-margin .box-flex:first-child {
  margin-left: 0;
}
.profile-margin .box-flex p:nth-child(2) {
  margin: 10px 0;
}
.pronavbar-btn {
  border-radius: 12px;
  padding: 5px 10px;
  line-height: 16px;
}
.pronavbar-btn:hover{
  cursor: pointer;
}
/* .all-width .view-overflow {
  border-radius: 12px;
} */
.box-flex.zero-edges {
  width: 25%;
  margin: 0;
  padding: 0 10px;
}
.box-flex.zero-edges:first-child {
  margin-left: -10px;
}
.box-flex.zero-edges:last-child {
  margin-right: -10px;
}
.profile-point span {
  display: inline-block;
  margin-right: 40px;
}

.profile-point span:first-child svg {
  transform: rotate(-90deg);
}
.profile-point svg ,.ul svg{
  vertical-align: middle;
}
.profile-time {
  position: absolute;
  background: rgba(32, 32, 32, 0.4);
  right: 10px;
  bottom: 0;

  border-radius: 4px;
}

.profile-top {
  margin-top: 30px;
}
.profile-bottom {
  /* margin-bottom: 30px; */
  border-bottom:30px solid #F9F9F9;
}
.profile-right {
  margin-right: 40px;
}
.profile-margin-10{
  margin: 10px;
}
.MuiGrid-root.grid{
  margin: 0 -10px -10px;
    width: calc(100% + 20px);
}
 .MuiGrid-root.grid .MuiGrid-item{
  padding: 0 10px;
  margin-top: 30px;
 }
 .zero-edges.all-width{
  border:1px solid rgb(242, 242, 245);
  border-radius: 12px;
 }
/* .btn1{
  background-color:'#007CFF';
  font-size:16px;
  color:'white';
  width:180px;
  height:40px;
  border-radius:20;
}
.btn2{
  color:'#878791';
  background-color:'#F2F2F5';
} */


.edit-phone .MuiInput-underline:after{
  border-bottom: 2px solid rgb(77, 144, 254); 
}
.MuiStepIcon-root.MuiStepIcon-completed{
color:#007CFF ;
}