.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232325 ;
  font-family:PingFangSC-Regular,PingFang SC;
  font-size: 16px;
  color :#CCCCD1;
}

.header span:hover{
  cursor: default;
}
.shortcut{
  position: relative;
}
.shortcut:hover .shortcut-code{
  display: block;
}
.shortcut-code{
  position: absolute;
  left:100%;
  top: 0px;
  z-index:  50;
  background: rgba(27,27,29,0.8);
  width:360px;
  display: none;
  border-radius: 12px;
  
}
.shortcut-code>div{
  margin: 20px;
}
.header > div > div {
  margin: 0 36px;
}
/* .users{
    display: flex;
    align-items: center;   
} */

/* .dialog-updata{
  width:600px;
  
  height: calc(100% - 64px);
  height: 500px;
  overflow-y: auto;
} */