.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232325 ;
  font-family:PingFangSC-Regular,PingFang SC;
  font-size: 16px;
  color :#CCCCD1;
}

.header span:hover{
  cursor: default;
}
.imdex span:hover,.header .headshot img:hover,.header button span:hover{
  cursor: pointer;
}
.headshot{
  display: block;
}
.shortcut{
  position: relative;
}
.shortcut:hover .shortcut-code{
  display: block;
}
.shortcut-code{
  position: absolute;
  left:100%;
  top: 0px;
  z-index:  50;
  background: rgba(27,27,29,0.8);
  width:360px;
  display: none;
  border-radius: 12px;
  
}
.shortcut-code>div{
  margin: 20px;
}
.shortcut-code>div svg{
  vertical-align: middle;
}
.header > div > div {
  margin: 0 1.26rem ;
}

.btn{
  background-color: #007CFF;
    color: #fff;
    border-radius: 16px;
    width: 140px;
    height: 32px;
    line-height: 32px;
    box-shadow: 0 0 5px 2px #232325;
}
.btn:hover{
  background-color:#0e5bb6;
}
