input[type="radio"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    /* text-indent: .15em; */
    margin-bottom: 4px;
    border: 1px solid #565663;
    padding: 2px;
    box-sizing: content-box;
  }
  input[type="radio"]:checked + label::before {
    background-color: #007cff;
    background-clip: content-box;
    border: 1px solid #007cff;
    padding: 2px;
  }
  input[type="radio"],
  input[type="checkbox"]:not(.notcss) {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  input[type="radio"],
  input[type="checkbox"]{
    vertical-align: middle;
  }
  input[type="checkbox"]:not(.notcss) + label::before {
    /*设置label标签的伪元素*/
    content: "\a0"; /* 不换行空格 */
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: 4px;
    border: 1px solid #565663;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    padding:3px;
    box-sizing: content-box;
  }
  /*选定时*/
  input[type="checkbox"]:not(.notcss):checked + label::before {
    /* content: "\2714";    √ */
    /* text-align: center; */
    /* background-color: rgb(68, 171, 247); */
    background-color: #007cff;
    background-clip: content-box;
    border: 1px solid #007cff;
    padding: 3px;
  }