.all-width{
  width:100%;
  display: block;
  position: relative;
}
.all-height{
  height: 100%;
}
.zero-edges{
  margin: 0;
  padding: 0;
}
.line{
  width:100%;
  height: 1px;
  background-color: #D5D5D5;
}
.box{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    display:-o-box;
 
 }
 .box-flex{
    -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-flex: 1;
   -o-box-flex: 1;
   box-flex: 1;
   flex: 1;
   -webkit-flex: 1;
 }
 .box-center{
     -ms-flex-align: center;
   align-items: center;
   box-align: center;
   -webkit-box-align: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-justify-content: center;
   -moz-box-pack: center;
   -webkit-box-pack: center;
 }
 .box-align-center{
     -ms-flex-align: center;
   align-items: center;
   box-align: center;
   -webkit-box-align: center;
   -ms-flex-pack: center;
 }
 .box-between {
   justify-content: space-between;
 }
 
 .box-end {
   justify-content: flex-end;
   align-items: center;
 }
 
 .box-start {
   justify-content: flex-start;
   align-items: center;
 }
 .box-align-end{
   align-items: flex-end;
 
 }
 .box-align-start{
   align-items: flex-start;
  
 }
 .text-center {
   text-align: center;
 }
 .box-wrap{
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 }
 .text-right {
   text-align: right;
 }
 
 .text-left {
   text-align: left;
 }
 
 .fn-float {
   float: right;
 }
 
 .fn-left {
   float: left;
 }
 
 .text-overflow {
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-text-overflow: ellipsis;
   white-space: nowrap;
 }
 .view-nowrap{
   white-space: nowrap;
 }
 .view-overflow {
   overflow: hidden;
 }
 .view-scroll{
   overflow: auto;
 }
 /*单行显示文字*/
 .textview-overflow {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   word-break: break-all;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
 }
 /*多行显示文字*/
 .textview-overflow.two {
   -webkit-line-clamp: 2;
 }
 
 .textview-overflow.three {
   -webkit-line-clamp: 3;
 }
 .textview-overflow.four {
   -webkit-line-clamp: 4;
 }
 /* 阴影 */
 .box-shadow{
  box-shadow:0px 2px 10px 2px rgba(0,0,0,0.1);
 }

 /* 背景色 */
 .bg-white{
   background-color: white;
 }
 .bg-f9{
  background-color: #F9F9F9;
}
.bg-f3{
  background-color: #F3F3F3;
}
.bg-F2F2F5{
  background-color: #F2F2F5;
}
.bg-EDF6FF {
  background-color:  #EDF6FF ;
}
.bg-20{
  background-color: #202020;
}
.bg-007CFF{
  background-color: #007CFF;
}

/* 字体 */
.fn-size-12{
  font-size: 12px;
}
.fn-size-10{
  font-size: 10px;
}
.fn-size-14{
  font-size: 14px;
}
.fn-size-16{
  font-size: 16px;
}
.fn-size-18{
  font-size: 18px;
}
.fn-size-20{
  font-size: 20px;
}
/* 颜色 */
.fn-color-white{
  color: white;
}
.fn-color-2C2C3B{
  color:#2C2C3B;
}
.fn-color-21{
  color:#212121;
}
.fn-color-9E9EA6{
  color:#9E9EA6;
}
.fn-color-878791{
  color:#878791;
}
.fn-color-007CFF{
  color:#007CFF;
  
}
.fn-color-02BB17{
  color:#02BB17;
}
.fn-color-F86B6B{
  color:#F86B6B;
}
.fn-color-565663{
  color:#565663;
}

