body::-webkit-scrollbar{
  display: none;
}


/* 布局 */
.el-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
  font-family:PingFangSC-Regular,PingFang SC;
  font-size: 14px;
  
}
.el-aside {
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #212121;
  color: #fff;
}
.el-header ,.el-footer{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.max-box{
  min-width: 1000px;
  /* max-width:1440px; */
  margin: 0 auto;
  background-color:rgb(10, 10, 10)   ;
}
.el-main {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  /* overflow: auto; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.el-container.is-vertical {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.el-main.top {
  height: 60%;
  padding-bottom:12px ;
}
.el-footer.bottom {
  height: 40%;
}
.el-main.top,
.el-footer.bottom {
  position: relative;
}
.top .el-container,
.bottom .el-container {
  height: 100%;
}
.top .el-main,
.bottom .el-main {
  position: relative;
  color: #fff;

}
.bottom .el-main{
  background-color: #2E2E30;
}
.top .el-main {
  
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1.5% 0;
}
.top .el-aside {
  padding: 1.5% 0;
}
.top .el-main > div {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
 
}
.top .el-main > div:first-child {
  width: 35%;
  overflow: hidden;
}
.top .el-main > div:last-child {
  width: 65%;
 
}
.top .el-main > div:last-child section{
  width:80%;
  height: 100%;
  margin: 0 auto;
  background-color:#29292B ;
}

.top .el-main > div:first-child > div {
  width: 100%;
  height: 100%;
  background-color:#29292B ;
  border-radius: 0 8px 8px 0;
  padding: 0 16px;
  position: relative;
}


.top .el-main > div:last-child section> div {
  
  height: 95%;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #29292B;
  position: relative;
  overflow: hidden;

}

.subtitles {
  position: absolute;
  bottom: 5px;
  z-index: 10;
}
.top .el-main > div:last-child > section video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.top .el-main > div:last-child >section p {
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29292B;
}
.top .el-main > div:last-child > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .el-main > div:last-child > p span {
  flex: 1;
  text-align: center;
  display: inline-block;
  width: 50%;
}
.top .el-main > div:last-child > p svg {
  margin-left: 20px;
}
/* 时间轴 */
  .slider {
 width: auto;
 /* transform: translateX(5px); */
height: 30px;
} 

/* 编辑区 */
.video-img,.video-image {
 
  height: 46px;
  margin-top: 12px;
}
.video-image {
  background-color: rgba(126, 123, 123, 1);
  display: flex;
  align-items: center ;
  background-repeat: no-repeat;
}

.video-image .new-menu{
  display: none;

  width:70px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.video-img .test-nodes{
  display: inline-block;
}
.video-test {
  padding-top: 10px;
  overflow: hidden;
}
.video-test span {
  /* display: block; */
  /* padding: 5px 10px; */
  min-width: 110px;
  margin-right: 20px;
   background-color: rgb(83, 83, 83); 
}
.video-test p:hover ,.video-test span:hover{
  cursor: pointer;
}
/* .video .video-test p{
  margin: 0;
} */
.video .video-test span{
  margin: 0;
 
}
.video .subtitles{
width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}

/* 页面下的滚动条 */
.bottom-right{
  position: absolute;
  bottom: 0;
  height: 24px;
  width:100%;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  background: #25262c;
  overflow: hidden;
}
.scroller{
  -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

}
.per-btns{
  width: 210px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
color:#fff;
}
.per-btns svg{
  width:24px;
  height: 20px;
  vertical-align: middle;
  margin:0 5px;
  transform: translateY(4px);
}
.scroll-thumb{
  height: 10px;
  width: 100px;
  background-color: #3e3f47;
  cursor: pointer;
  border-radius: 8px;
  /* position: absolute; */
}
