.channel-bar-paper
  overflow: hidden

  .item
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: center
    cursor: pointer
    &  > div:first-child
      display: block
    & > div:nth-child(2)
      display: none
    &:hover > div:first-child
      display: none
    &:hover >  div:nth-child(2)
      display: block
    &:hover
      color: #007cff

    &.slice-action
      color: #007cff
      &  > div:first-child
        display: none
      & > div:nth-child(2)
        display: block
