#kengine-video-player
  video
    &:focus
      outline: none
    &::-internal-media-controls-download-button
      display: none
    &::-webkit-media-controls-enclosure
      overflow: hidden
    &::-webkit-media-controls-panel
      width: calc(100% + 30px); /* Adjust as needed */
    &::cue
      font-size: 14px
    &::-webkit-media-text-track-display-backdrop
      background-color: black !important;
      overflow: visible !important;
    &::-webkit-media-text-track-display
      overflow: visible !important;
      -webkit-box-sizing: border-box;
