.global-search-card
  .container
    margin: 20px 0

  .auth-head
    display: flex
    align-items: center
    justify-content: center
    height: 170px
    @media screen and (max-width: 960px)
      height: 100px

  .card-text-part
    display: flex
    flex-flow: column nowrap
    height: 100%

  .card-text-part-description
    flex-grow: 1
    & > p
      line-height: 1.7
      overflow: hidden
      margin-bottom: 0.4em
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
    @media screen and (max-width: 960px)
      & > p
        font-size: 0.75rem
        line-height: unset
        overflow: hidden
        letter-spacing: 0.00938em
        margin-bottom: 0.4em
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
    &.subtitle
      display: none

  .card-subtitle
    & p
        overflow: hidden
        margin-bottom: 0.4em
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
    @media screen and (max-width: 960px)
      & p
        font-size: 0.75rem
        overflow: hidden
        margin-bottom: 0.4em
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical


  .docContainer
    border-top: 1px solid #f2f2f5
    border-bottom: 1px solid #f2f2f5
    margin: 20px 0

  .docHead
    grid-column: 1
    grid-row: 1 / 6
    display: flex
    height: 168px
    align-items: center
    justify-content: center
    @media screen and (max-width: 960px)
      height: 105px

  .docAvatar
    grid-column: 2
    grid-row: 5
    display: flex
    align-items: center

  .image-pick
    border-radius: 12px
    overflow: hidden
    @media screen and (max-width: 960px)
      border-radius: 4px
    & img
      height: 166px
      @media screen and (max-width: 960px)
        height: 70px

  .title-item
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 0.4em
    & > a
      flex-grow: 1
    @media screen and (max-width: 960px)
      & .upload-time-title
        display: none
      & .title-item-name
        font-size: 0.875rem
        overflow: hidden
        text-overflow: ellipsis
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        display: -webkit-box

  .is-pay
     backgroundColor: #fc5659
     color: #fff

  .series-tag
    position: absolute
    background-color: #007cff
    padding: 2px 4px
    border-radius: 0 0 4px 4px
    top: 0
    left: 18px

  .doc-tag
    position: absolute
    background-color: #ebba73
    padding: 2px 4px
    border-radius: 0 0 4px 4px
    top: 0
    left: 18px

  .card-avatar
    display: flex
    align-items: center
    .card-avatar-img
      display: flex
      align-items: center
      & > a
        display: flex
        align-items: center
        & > span
          line-height: normal
      @media screen and (max-width: 960px)
        display: none

  .auth-card-avatar
    width: 130px
    height: 130px
    @media screen and (max-width: 960px)
      width: 80px
      height: 80px
