.global-search-card
  .container
    display: grid
    height: 148px
    margin: 20px 0
    grid-template-columns: 246px auto
    grid-template-rows: repeat(5,1fr)
    gap: 10px 20px
    grid-auto-flow: row

  .head
    grid-column: 1
    grid-row: 1 / 6
    display: flex
    align-items: center
    justify-content: center

  .docContainer
    gap: 10px 20px
    padding: 15px 0
    display: grid
    height: 160px
    border-top: 1px solid #f2f2f5
    border-bottom: 1px solid #f2f2f5
    margin: 20px 0
    grid-template-columns: 246px auto
    grid-template-rows: repeat(5,1fr)

  .docHead
    grid-column: 1
    grid-row: 1 / 6
    display: flex
    align-items: center
    justify-content: center

  .docAvatar
    grid-column: 2
    grid-row: 5
    display: flex
    align-items: center

  .image-pick
    height: 100%
    width: 246px
    border-radius: 12px
    overflow: hidden
    position: relative

  .title-item
    display: flex
    align-items: center
    justify-content: space-between

  .is-pay
     backgroundColor: #fc5659
     color: #fff

  .series-tag
    position: absolute
    background-color: #007cff
    padding: 2px 4px
    border-radius: 0 0 4px 4px
    top: 0
    left: 18px

  .doc-tag
    position: absolute
    background-color: #ebba73
    padding: 2px 4px
    border-radius: 0 0 4px 4px
    top: 0
    left: 18px
