.user-like
  display: inline-flex;
  align-items: center;
  & > *
    margin-right: 20px

  .user-like-item
    font-size: 14px


.list-body
  display: grid;
  grid-gap: 6px;
  grid-auto-flow: row;
  grid-template-columns: 64px auto;
  grid-template-rows: 20px auto 30px auto;

  .list-avatar
    display: inline-grid;
    justify-content: flex-end;
    align-items: center;


  .child-avatar
    width: 28px;
    height: 28px;

  .list-head
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #2C2C3B;

  .list-time
    margin-left: 18px;
    display: flex;
    color: #878791;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    align-items: center;

  .list-content
    grid-column: 2/-1


  .list-user-active
    grid-column: 2/-1


  .list-children
    grid-column: 2/-1


  .local-atm-icon
    color: #FDC44F;
    margin-left: 6px;
