.upload-cover {
    text-align: left;

    position: relative;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

}
#filePicker{
    display: inline-block;
    width:80px;
    height: 80px;
    position: relative;
    background-color: rgb(51, 50, 50);
    padding: 10px;
    position: relative;
}

#filePicker span{
    position: absolute;
    top:50%;
    left:50%;
    width:60px;
    height: 60px;
    transform: translate(-50%,-50%);
    background-color: rgb(80, 80, 80);
    text-align: center;

}
.article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Upload-the-article{
    height: 5px;
    width:200px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    
}
.Upload-the-article span{
    display: inline-block;
    height: 5px;
    width:10px;
    transform: translateX(-10px);
    background-color: chartreuse;
    position: absolute;
    left: 0;
    top:0;
    animation:mymove 3s ease-in-out 0.1s infinite ;
}
    @keyframes mymove {
        0%{ transform: translateX(-10px);}
        100%{
            transform: translateX(190px); 
        }
    }
